/* -- Forms -- */

input,
select,
textarea {
	border-radius: 6px;
	border: 2px solid var(--wp--preset--color--grey-300) !important; /* stylelint-disable-line declaration-no-important */
	color: var(--wp--preset--color--contrast);
	font-size: var(--wp-wp--preset--font-size--small);
	margin-top: 0.5rem;
	padding: 0.625rem 1rem;
	width: 100%;
}

select {
	appearance: none;
	outline: 0;
	background: url(../images/icons/icon-arrow-down.svg) no-repeat right 0.8em
		center / 1.4em;
	cursor: pointer;

	&::-ms-expand {
		display: none;
	}

	&:focus {
		outline: none;
	}

	option {
		background-color: var(--wp--preset--color--base);
		color: var(--wp--preset--color--contrast);
	}
}

input[type='checkbox'],
input[type='image'],
input[type='radio'] {
	width: auto;
}

input[type='button'],
input[type='email'],
input[type='search'],
input[type='submit'],
input[type='text'],
textarea {
	-webkit-appearance: none;
	appearance: none;
}

input[type='submit'] {
	border: none !important; /* stylelint-disable-line declaration-no-important */
	border-radius: 4px;
	padding: 0.625rem 1.125rem;
}

input:focus,
textarea:focus {
	outline: none;
}

::placeholder {
	color: var(--wp--preset--color--grey-500);
}

label {
	color: var(--wp--preset--color--contrast);
	display: inline-block;
	font-weight: 700;
	letter-spacing: 0.032px;
}
