/* -- pagination -- */

.post-nav-links {
	display: flex;
	font-family: var(--wp--preset--font-family--body);
	font-size: var(--wp--preset--font-size--small);
	justify-content: center;
	margin: var(--wp--preset--spacing--30) auto;
	padding-left: 2.25rem;
	position: relative;
	text-indent: -9999px;
	width: max-content;

	&::before {
		content: 'Page';
		display: block;
		left: 0;
		position: absolute;
		text-indent: 0;
	}

	.post-page-numbers {
		color: var(--wp--preset--color--contrast);
		padding-right: 0.625rem;
		text-decoration: none;
		text-indent: 0;

		&:first-child {
			padding-left: 0.625rem;
		}

		&:last-child {
			padding-right: 0;
		}

		&.current {
			color: var(var(--wp--preset--color--accent-1));
			font-weight: 700;
		}

		&:hover,
		&:focus {
			color: var(var(--wp--preset--color--accent-1));
		}
	}
}
