<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards">
	<description>Apply WordPress Coding Standards</description>

	<!-- Set the memory limit to 512M.
		 For most standard PHP configurations, this means the memory limit will temporarily be raised.
		 Ref: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Advanced-Usage#specifying-phpini-settings
	-->
	<ini name="memory_limit" value="512M"/>

	<!-- Whenever possible, cache the scan results and re-use those for unchanged files on the next scan. -->
	<arg name="cache"/>

	<!-- Show sniff codes in all reports. -->
	<arg value="ps"/>

	<!-- WordPress Core currently supports PHP 8.2+. -->
	<config name="testVersion" value="8.2-8.3"/>
	<rule ref="PHPCompatibilityWP">
		<include-pattern>*\.php</include-pattern>
	</rule>

	<!-- Only sniff PHP files. -->
	<arg name="extensions" value="php"/>

	<!-- Only sniff the theme. -->
	<file>./</file>

	<!-- Exclude the blocks directory. -->
	<exclude-pattern>./blocks/*</exclude-pattern>

	<!-- Exclude the build directory. -->
	<exclude-pattern>/build/*</exclude-pattern>

	<!-- Exclude the Composer Vendor directory. -->
	<exclude-pattern>./vendor/*</exclude-pattern>

	<!-- Exclude the Node Modules directory. -->
	<exclude-pattern>/node_modules/*</exclude-pattern>

	<!-- Exclude minified Javascript files. -->
	<exclude-pattern>*.min.js</exclude-pattern>

	<!-- Strip the filepaths down to the relevant bit. -->
	<arg name="basepath" value="."/>

	<!-- Check up to 8 files simultaneously. -->
	<arg name="parallel" value="8"/>

	<!-- Use WordPress "Extra" Coding Standards. -->
	<rule ref="WordPress-Extra">
		<!-- Allow array short syntax. -->
		<exclude name="Universal.Arrays.DisallowShortArraySyntax.Found" />
		<!-- Allow short prefixes. -->
		<exclude name="WordPress.NamingConventions.PrefixAllGlobals.ShortPrefixPassed"/>
		<!-- Exclude deprecated sniff -->
		<exclude name="Generic.Functions.CallTimePassByReference"/>
	</rule>

	<!-- Use WordPress "Docs" Coding Standards. -->
	<rule ref="WordPress-Docs" />

	<!-- The minimum supported WordPress version. This should match what's listed in style.css. -->
	<rule ref="WordPress.WP.DeprecatedFunctions">
		<properties>
			<property name="minimum_wp_version" value="6.4"/>
		</properties>
	</rule>

	<!-- Allow for theme specific exceptions to the file name rules based on the theme hierarchy. -->
	<rule ref="WordPress.Files.FileName">
		<properties>
			<property name="is_theme" value="true"/>
		</properties>
	</rule>

	<!-- Verify that everything in the global namespace is prefixed with a theme specific prefix.
		 Multiple valid prefixes can be provided as a comma-delimited list. -->
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="WebDevStudios\wdsbt"/>
				<element value="wds"/>
				<element value="wdsbt"/>
			</property>
		</properties>
	</rule>

	<!-- Verify that the text_domain is set to the desired text-domain.
		 Multiple valid text domains can be provided as a comma-delimited list. -->
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="wdsbt"/>
			</property>
		</properties>
	</rule>

	<!-- Exclude deprecated sniff -->
	<rule ref="Generic.Functions.CallTimePassByReference">
		<exclude />
	</rule>

</ruleset>
