/* -- Archive Pages -- */

.archive {

	.wp-block-post {

		.wp-block-post-title {
			font-size: 1.375rem;
			margin-bottom: 0;
			padding-top: 0.375rem;
		}

		.wp-block-post-terms {

			a {
				font-family: var(--wp--preset--font-family--headline);
				font-size: 0.75rem;
				font-weight: 500;

				&:first-of-type {
					padding-left: 0;
				}
			}
		}
	}
}
