/* -- Search Page -- */

.search {
	.wp-block-query-title {
		margin-bottom: var(--wp--preset--spacing--30);
		margin-top: var(--wp--preset--spacing--30);
	}

	.wp-block-post {
		&:last-of-type {
			.wp-block-separator {
				display: none;
			}
		}
	}
}
