/* -- Search Page -- */

.search {

	.wp-block-query-title {
		font-size: var(--wp--preset--font-size--medium);
		margin-bottom: var(--wp--preset--spacing--30);
		margin-top: var(--wp--preset--spacing--30);
	}

	.wp-block-post {

		.wp-block-post-title {
			font-size: 1.375rem;
			margin-bottom: 0;
			padding-top: 0.375rem;
		}

		.post-meta {
			gap: 0;
			justify-content: flex-start;

			p {
				font-family: var(--wp--preset--font-family--headline);
				font-size: 0.75rem;
				font-weight: 400;
				line-height: 1.6;
				margin-top: 0.5rem !important; /* stylelint-disable-line declaration-no-important */
			}

			.wp-block-post-date {
				font-family: var(--wp--preset--font-family--headline);
				font-size: 0.75rem;
				font-weight: 400;
				line-height: 1.6;
				padding-left: 0.375rem;

				&::after {
					content: '.';
					padding-right: 0.375rem;
				}
			}
		}

		&:last-of-type {

			.wp-block-separator {
				display: none;
			}
		}
	}
}
