/* -- footer -- */

/** Sticky footer styles **/
main {
	display: flex;
	flex-direction: column;
	min-height: 70vh;

	.entry-content {
		flex: 1 0 auto;
	}
}

.site-footer {
	background-color: var(--wp--preset--color--contrast);
	color: var(--wp--preset--color--base);
	flex-shrink: 0;
	margin-top: var(--wp--preset--spacing--70);
}
