/* -- footer -- */

.site-footer {
	background-color: var(--wp--preset--color--contrast);
	color: var(--wp--preset--color--base);

	a {
		color: var(--wp--preset--color--accent-1);

		&:hover {
			color: var(--wp--preset--color--accent-2);
		}
	}
}
