@use 'responsive-mixins';

/* -- Utility -- */

/* -- Image Blur -- */
$blur-radius: 6px;

figure[class^='blur-'],
figure[class*=' blur-'] {
	border-radius: $blur-radius;
	overflow: hidden;

	img {
		background-blend-mode: darken;
		background-color: rgba(var(--wp--preset--color--white), 1);
		border-radius: $blur-radius;
	}
}

.blur-8 img {
	filter: blur(4px);
	-webkit-filter: blur(4px);
}

.blur-16 img {
	filter: blur(8px);
	-webkit-filter: blur(8px);
}

.blur-24 img {
	filter: blur(12px);
	-webkit-filter: blur(12px);
}

.blur-32 img {
	filter: blur(16px);
	-webkit-filter: blur(16px);
}

.blur-40 img {
	filter: blur(20px);
	-webkit-filter: blur(20px);
}

/* Box Shadow */

.is-style-shadow-light {
	box-shadow: var(--wp--preset--shadow--light);
}

.is-style-shadow-solid {
	box-shadow: var(--wp--preset--shadow--solid);
}

/* Filter */

.is-style-filter-invert {
	filter: invert(1);
}

/* Position */

.is-style-position-fixed {
	position: fixed;
}

.is-style-position-relative {
	position: relative;
}

/* Pull */

.is-style-pull-100 {
	margin-top: -6.25rem !important; /* stylelint-disable-line declaration-no-important */
}

/* Z-Index */

.is-style-negative-zindex {
	z-index: -99;
}

.is-style-positive-zindex {
	z-index: 99;
}

/* Header */

.js-enabled {

	.site-header {
		position: sticky;
		top: var(
			--wp-admin--admin-bar--height,
			0
		) !important; /* stylelint-disable-line declaration-no-important */
		transition: top 0.5s;
		z-index: 100;
	}
}

/* Media Queries */
@include responsive-mixins.responsive-max(600px) {

	.is-style-hidden-mobile {
		display: none !important; /* stylelint-disable-line declaration-no-important */
	}
}

@include responsive-mixins.responsive-max(782px) {

	.wp-block-columns.is-style-column-reverse {
		flex-direction: column-reverse;
	}
}
