/* -- Forms -- */

input,
select,
textarea {
	background-color: var(--wp--preset--color--white);
	border: 0.063rem solid var(--wp--preset--color--primary-500);
	border-radius: 0;
	color: var(--wp--preset--color--primary-500);
	font-family: var(--wp--preset--font-family--outfit);
	font-size: var(--wp--preset--font-size--medium);
	font-weight: var(--wp--custom--font-weight--light);
	line-height: var(--wp--custom--line-height--body);
	padding: 0.625rem 1.25rem;
	width: 100%;
}

input:focus,
textarea:focus {
	filter: brightness(95%);
	outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
	width: auto;
}

input[type="button"],
input[type="email"],
input[type="search"],
input[type="submit"],
input[type="text"],
textarea {
	-webkit-appearance: none;
}

::placeholder {
	color: var(--wp--preset--color--primary-500);
	font-size: var(--wp--preset--font-size--small);
	opacity: 0.5;
}
