/* -- Forms -- */

input,
select,
textarea {
	border: 2px solid var(--wp--preset--color--grey-300) !important; /* stylelint-disable-line declaration-no-important */
	border-radius: 0.375rem;
	color: var(--wp--preset--color--black);
	font-size: var(--wp-wp--preset--font-size--x-small);
	padding: 0.75rem 1rem;
	width: 100%;
}

input[type='checkbox'],
input[type='image'],
input[type='radio'] {
	width: auto;
}

input[type='button'],
input[type='email'],
input[type='search'],
input[type='submit'],
input[type='text'],
textarea {
	-webkit-appearance: none;
}

input[type='submit'] {
	border-radius: 0.25rem;
	padding: 0.625rem 1.125rem;
}

input:focus,
textarea:focus {
	outline: none;
}

::placeholder {
	color: var(--wp--preset--color--grey-500);
}

label {
	color: var(--wp--preset--color--black);
	display: inline-block;
	font-weight: 700;
	letter-spacing: 0.032px;
	margin-bottom: 0.5rem;
}
