/* -- footer -- */

.site-footer {
	background-color: var(--wp--preset--color--grey-100);
	padding-bottom: var(--wp--preset--spacing--medium);
	padding-top: var(--wp--preset--spacing--x-large);
	margin-top: var(--wp--preset--spacing--x-large);
}
