/* -- footer -- */

.site-footer {
	border-top: 1px solid var(--wp--preset--color--grey-400);
	padding-bottom: var(--wp--preset--spacing--medium);
	padding-top: var(--wp--preset--spacing--x-large);
	margin-top: var(--wp--preset--spacing--x-large);
}
