/* -- footer -- */

.site-footer {
	border-top: 1px solid var(--wp--preset--color--grey-400);
	padding-bottom: var(--wp--preset--spacing--40);
	padding-top: var(--wp--preset--spacing--60);
	margin-top: var(--wp--preset--spacing--60);
}
