/* -- Header -- */

/* -- Header Search -- */
.site-header {
	.wp-block-search.wp-block-search__button-inside
		.wp-block-search__inside-wrapper {
		max-width: 13.375rem;
	}
	.wp-block-search.wp-block-search__button-only {
		display: none;
	}
}

@include responsive-max(833px) {
	.site-header {
		.wp-block-search {
			&.wp-block-search__button-inside {
				width: 100%;
			}
			&.wp-block-search__button-only {
				display: block;
			}
		}
	}
}
