/* -- Header -- */

/* -- Header Search -- */
.site-header
	.wp-block-search.wp-block-search__button-inside
	.wp-block-search__inside-wrapper {
	max-width: 13.375rem;
}

.site-header .wp-block-search.wp-block-search__button-only {
	display: none;
}

@media only screen and (max-width: 833px) {
	.site-header .wp-block-search.wp-block-search__button-inside {
		width: 100%;
	}

	.site-header .wp-block-search.wp-block-search__button-only {
		display: block;
	}
}
