@import '../../abstracts/responsive-mixins';

/* -- Button -- */
.wp-block-button {
	.wp-block-button__link {
		align-items: center;
		display: inline-flex;
		justify-content: center;
		position: relative;
		z-index: 1;

		&.rich-text {
			min-width: 10rem !important; /* stylelint-disable-line declaration-no-important */
		}

		&:disabled,
		&[disabled] {
			cursor: not-allowed;
			opacity: 0.15;
			pointer-events: none;
		}

		&::after {
			background-color: currentcolor;
			content: '';
			display: inline-block;
			height: 1rem;
			margin-left: 0.5rem;
			mask-image: url(../../../images/icons/icon-circle-right.svg);
			mask-size: contain;
			position: absolute;
			right: 0.75rem;
			vertical-align: middle;
			width: 1rem;
			z-index: 0;
		}
	}

	&.is-style-minimal,
	&.is-style-text {
		.wp-block-button__link {
			background-color: transparent;
			border: 1px solid transparent;
			color: var(--wp--preset--color--primary-500);
		}
	}

	&.is-style-outline,
	&.is-style-minimal {
		.wp-block-button__link {
			&:hover {
				background-color: var(--wp--preset--color--primary-50);
				border: 1px solid var(--wp--preset--color--primary-500);
			}
		}
	}

	&.is-style-text {
		.wp-block-button__link {
			&:hover {
				color: var(--wp--preset--color--primary-700);
			}
		}
	}

	&.large {
		.wp-block-button__link {
			border-radius: 6px;
			border-width: 2px;
			font-size: 1rem;
		}

		&::after {
			height: 1.25rem;
			width: 1.25rem;
		}
	}

	&.xlarge {
		.wp-block-button__link {
			border-radius: 6px;
			border-width: 2px;
			font-size: var(--wp--preset--font-size--s);

			&::after {
				height: 1.5rem;
				width: 1.5rem;
			}
		}
	}
}

@include responsive-max(600px) {
	.wp-block-buttons {
		flex-direction: column;
		gap: 0.75rem !important; /* stylelint-disable-line declaration-no-important */

		.wp-block-button {
			width: 100%;

			.wp-block-button__link {
				width: 100%;
			}
		}
	}
}
