@import '../../abstracts/responsive-mixins';

/* -- Button -- */
.wp-block-button {
	.wp-block-button__link {
		align-items: center;
		display: inline-flex;
		justify-content: center;
		position: relative;
		z-index: 1;

		&.rich-text {
			min-width: 10rem !important; /* stylelint-disable-line declaration-no-important */
		}

		&:disabled,
		&[disabled] {
			cursor: not-allowed;
			opacity: 0.15;
			pointer-events: none;
		}
	}

	&.is-style-minimal,
	&.is-style-text {
		.wp-block-button__link {
			background-color: transparent;
			border: 1px solid transparent;
			color: var(--wp--preset--color--primary-500);
		}
	}

	&.is-style-outline,
	&.is-style-minimal {
		.wp-block-button__link {
			&:hover {
				background-color: var(--wp--preset--color--primary-50);
				border: 1px solid var(--wp--preset--color--primary-500);
			}
		}
	}

	&.is-style-text {
		.wp-block-button__link {
			&:hover {
				color: var(--wp--preset--color--primary-700);
			}
		}
	}

	&.has-size-m {
		.wp-block-button__link {
			font-size: var(--wp--preset--font-size--s);
			padding: 0.625rem 1.25rem 0.625rem 1.25rem;
		}
	}

	&.has-size-l {
		.wp-block-button__link {
			font-size: var(--wp--preset--font-size--m);
			padding: 0.9375rem 1.25rem 0.9375rem 1.25rem;
		}
	}

	&.has-size-xl {
		.wp-block-button__link {
			font-size: var(--wp--preset--font-size--l);
			padding: 0.9375rem 1.25rem 0.9375rem 1.25rem;
		}
	}
}

@include responsive-max(600px) {
	.wp-block-buttons {
		flex-direction: column;
		gap: 0.75rem !important; /* stylelint-disable-line declaration-no-important */

		.wp-block-button {
			width: 100%;

			.wp-block-button__link {
				width: 100%;
			}
		}
	}
}
