@use '../../abstracts/responsive-mixins';

/* -- comments -- */

.wp-block-comments {
	margin-bottom: var(--wp--preset--spacing--60);
	margin-top: var(--wp--preset--spacing--60);

	> * {
		margin-left: auto;
		margin-right: auto;
		max-width: calc(
			var(--wp--style--global--content-size) - 30%
		) !important; /* stylelint-disable-line declaration-no-important */
	}

	.wp-block-comment-author-name {

		a {
			color: var(--wp--preset--color--black);
			font-family: var(--wp--preset--font-family--headline);
			font-size: var(--wp--preset--font-size--small);
			font-weight: 700;
			text-decoration: none;
		}
	}

	.wp-block-comment-date {

		a {
			color: var(--wp--preset--color--black);
			font-family: var(--wp--preset--font-family--headline);
			font-size: var(--wp--preset--font-size--small);
			font-weight: 500;
			text-decoration: none;
		}
	}

	.wp-block-comment-edit-link,
	.wp-block-comment-reply-link {

		a {
			color: var(--wp--preset--color--contrast);
			font-family: var(--wp--preset--font-family--headline);
			font-size: var(--wp--preset--font-size--small);
			text-decoration: none;

			&:hover,
			&:active {
				color: var(--wp--preset--color--accent-1);
			}
		}
	}

	.wp-block-comment-template {

		ol {
			padding-left: 4rem;

			@include responsive-mixins.responsive-max(600px) {
				padding-left: 2rem;
			}
		}
	}

	.wp-block-post-comments-form {
		margin-bottom: var(--wp--preset--spacing--30);
		margin-top: var(--wp--preset--spacing--30);

		.comment-reply-title {
			font-size: var(--wp--preset--font-size--medium);
		}
	}

	.wp-block-comments-pagination {
		align-items: center;
		display: flex;
		font-weight: 700;
		justify-content: center;
		margin: 2rem auto;
		width: 100%;

		a {
			text-decoration: none;

			&.wp-block-comments-pagination-previous {
				margin-right: 0;
			}

			&.page-numbers {
				padding-right: 0.375rem;

				&:last-child {
					padding-right: 0;
				}
			}
		}
	}
}
