/* -- Cover -- */

.wp-block-cover {
	.wp-block-buttons {
		margin-top: var(--wp--preset--spacing--30);

		.wp-block-button {
			.wp-block-button__link {
				border-radius: var(--wp--preset--border-radius--md);
			}
		}
	}
}
