@use '../../abstracts/responsive-mixins';
/* stylelint-disable selector-class-pattern */

/* -- file -- */

.wp-block-file {
	padding: var(--wp--preset--spacing--30);

	.wp-block-file__button {
		align-items: center;
		border: 1px solid var(--wp--preset--color--contrast, rgba(0, 0, 0, 0.1));
		border-radius: var(--wp--preset--border-radius--md);
		color: var(--wp--preset--color--contrast);
		display: inline-flex;
		justify-content: center;
		padding: var(--wp--preset--spacing--20);
		text-decoration: none;

		&:disabled,
		&[disabled] {
			cursor: not-allowed;
			opacity: 0.15;
			pointer-events: none;
		}

		&:hover,
		&:focus {
			background-color: var(--wp--preset--color--accent-1);
			border: 1px solid var(--wp--preset--color--accent-1);
			color: var(--wp--preset--color--contrast);
		}
	}

	a:not(.wp-block-file__button) {
		color: var(--wp--preset--color--contrast);
		text-decoration: underline;

		&:hover,
		&:focus {
			color: var(--wp--preset--color--accent-1);
		}
	}
}
/* stylelint-enable selector-class-pattern */
