@use '../../abstracts/responsive-mixins';
/* stylelint-disable selector-class-pattern */

/* -- file -- */

.wp-block-file {
	max-width: calc(
		var(--wp--style--global--content-size) - 30%
	) !important; /* stylelint-disable-line declaration-no-important */

	a:not(.wp-element-button) {
		box-shadow: inset 0 -2px 0 0 var(--wp--preset--color--grey-400);
		padding-bottom: 0.125rem;
		text-decoration: none;

		&:hover,
		&:focus {
			box-shadow: inset 0 -2px 0 0 var(--wp--preset--color--contrast);
			color: var(--wp--preset--color--contrast);
		}
	}

	.wp-block-file__button {
		align-items: center;
		display: inline-flex;
		justify-content: center;
		margin-left: 1.5rem;
		padding-right: var(--wp--preset--spacing--40);
		position: relative;
		z-index: 1;

		&::after {
			background-color: currentcolor;
			content: '';
			display: inline-block;
			height: 1rem;
			left: unset;
			margin-left: 0.5rem;
			margin-right: unset;
			mask-image: url(../../../images/icons/icon-download.svg);
			mask-size: contain;
			position: absolute;
			right: 0.75rem;
			vertical-align: middle;
			width: 1rem;
			z-index: 0;
		}
	}

	@include responsive-mixins.responsive-max(600px) {
		display: flex;
		flex-direction: column;

		a:not(.wp-element-button) {
			width: fit-content;
		}

		.wp-block-file__button {
			border-radius: 6px;
			border-width: 2px;
			font-size: var(--wp--preset--font-size--s);
			margin-left: 0;
			margin-top: 0.75rem;
			padding: 0.75rem 1rem;
			text-align: center;

			&::after {
				height: 1.5rem;
				width: 1.5rem;
			}
		}
	}
}
/* stylelint-enable selector-class-pattern */
