/* -- footnotes -- */

.wp-block-footnotes {
	list-style-position: inside;

	li {

		a {
			text-decoration: none;
		}
	}
}

.wp-block-heading {

	sup {
		padding: 0 0.5rem;

		&::before {
			content: '[';
		}

		&::after {
			content: ']';
		}
	}
}
