@use '../../abstracts/responsive-mixins';
/* stylelint-disable selector-class-pattern */

/* -- latest-posts -- */

.wp-block-latest-posts {
	gap: var(--wp--preset--spacing--30);
	padding-bottom: var(--wp--preset--spacing--30);

	li {
		border-radius: var(--wp--preset--border-radius--md);
		border: 1px solid var(--wp--preset--color--contrast, rgba(0, 0, 0, 0.1));
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
		background: var(--wp--preset--color--base, #fff);
		padding: var(--wp--preset--spacing--30);
		display: inline-flex;
		flex-direction: column;
		gap: var(--wp--preset--spacing--20);
		justify-content: flex-start;
		position: relative;
		width: 100%;

		> *:not(.wp-block-latest-posts__featured-image) {
			margin-left: var(--wp--preset--spacing--30);
			margin-right: var(--wp--preset--spacing--30);
		}

		&:last-of-type {
			margin-bottom: 0;
		}

		&:has(.wp-block-latest-posts__featured-image) {
			padding-left: var(--wp--preset--spacing--50);
		}

		.wp-block-latest-posts__featured-image {
			aspect-ratio: var(--wp--preset--aspect-ratio--16-9);
			left: 0;
			margin-bottom: 0;
			height: 100%;
			overflow: hidden;
			max-width: 18.75rem;

			a {
				display: block;
				height: 100%;
			}

			img {
				border-top-left-radius: 10px;
				border-bottom-left-radius: 10px;
				height: 100%;
				max-width: 100%;
				object-fit: cover;
				vertical-align: bottom;
				width: 100%;
			}
		}
	}

	&.is-grid {
		li {
			margin-bottom: 0;
			padding: 0;

			.wp-block-latest-posts__featured-image {
				height: unset;
				max-width: unset;
				order: 0;
				position: relative;

				img {
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
					border-top-left-radius: var(
						--wp--preset--border-radius--md
					);
					border-top-right-radius: var(
						--wp--preset--border-radius--md
					);
				}
			}
		}
	}
}
/* stylelint-enable selector-class-pattern */
