@use '../../abstracts/responsive-mixins';
/* stylelint-disable selector-class-pattern */

/* -- latest-posts -- */

.wp-block-latest-posts {
	padding-bottom: var(--wp--preset--spacing--30);

	li {
		border-radius: var(--wp--preset--border-radius--md);
		border: 1px solid var(--wp--preset--color--contrast, rgba(0, 0, 0, 0.1));
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
		background: var(--wp--preset--color--base, #fff);
		padding: var(--wp--preset--spacing--30);
		display: inline-flex;
		flex-direction: column;
		gap: var(--wp--preset--spacing--50);
		position: relative;
		margin-bottom: var(--wp--preset--spacing--30);
		width: 100%;

		> *:not(.wp-block-latest-posts__featured-image) {
			padding: var(--wp--preset--spacing--30);
		}

		&:last-of-type {
			margin-bottom: 0;
		}

		&:has(.wp-block-latest-posts__featured-image) {
			padding-left: var(--wp--preset--spacing--50);
		}

		.wp-block-latest-posts__featured-image {
			aspect-ratio: var(--wp--preset--aspect-ratio--16-9);
			left: 0;
			margin-bottom: 0;
			height: 100%;
			overflow: hidden;
			max-width: 18.75rem;

			a {
				display: block;
				height: 100%;
			}

			img {
				border-top-left-radius: 10px;
				border-bottom-left-radius: 10px;
				height: 100%;
				max-width: 100%;
				object-fit: cover;
				vertical-align: bottom;
				width: 100%;
			}
		}

		.wp-block-latest-posts__post-title {
			color: var(--wp--preset--color--black);
			font-family: var(--wp--preset--font-family--headline);
			margin-bottom: var(--wp--preset--spacing--20);
			margin-top: var(--wp--preset--spacing--20);
			text-decoration: none;

			&:hover,
			&:focus {
				color: var(--wp--preset--color--accent-1);
			}
		}

		.wp-block-latest-posts__post-author,
		.wp-block-latest-posts__post-date {
			color: var(--wp--preset--color--black);
			font-family: var(--wp--preset--font-family--body);
			font-size: var(--wp--preset--font-size--small);
			margin-bottom: var(--wp--preset--spacing--20);
			margin-top: var(--wp--preset--spacing--20);
		}

		.wp-block-latest-posts__post-excerpt {
			color: var(--wp--preset--color--contrast);
			font-family: var(--wp--preset--font-family--body);
			font-size: var(--wp--preset--font-size--medium);
			margin-bottom: var(--wp--preset--spacing--20);
			margin-top: var(--wp--preset--spacing--20);

			.wp-block-latest-posts__read-more {
				color: var(--wp--preset--color--contrast);
				display: block;
				font-family: var(--wp--preset--font-family--headline);
				font-size: var(--wp--preset--font-size--small);
				font-weight: 300;
				padding-top: 1rem;
				text-decoration: underline;
				width: max-content;

				&:hover,
				&:focus {
					color: var(--wp--preset--color--accent-1-300);
				}
			}
		}
	}

	&.is-grid {
		li {
			padding-left: 0;

			.wp-block-latest-posts__featured-image {
				height: unset;
				margin-bottom: var(--wp--preset--spacing--20);
				max-width: unset;
				order: 0;
				position: relative;

				img {
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
					border-top-left-radius: 10px;
					border-top-right-radius: 10px;
				}
			}

			.wp-block-latest-posts__post-title {
				order: 2;
				margin-top: 0;
			}

			.wp-block-latest-posts__post-date {
				order: 1;
			}

			.wp-block-latest-posts__post-author {
				order: 3;
			}

			.wp-block-latest-posts__post-excerpt {
				order: 4;
			}
		}
	}
}
/* stylelint-enable selector-class-pattern */
