/* stylelint-disable selector-class-pattern, declaration-no-important */

/* -- latest comments -- */

.wp-block-latest-comments {
	padding: var(--wp--preset--spacing--30) 0;

	> * {
		max-width: calc(
			var(--wp--style--global--content-size) - 30%
		) !important;
	}
}

/* stylelint-enable selector-class-pattern, declaration-no-important */
