/* stylelint-disable selector-class-pattern, declaration-no-important */

/* -- latest comments -- */

.wp-block-latest-comments {
	padding: var(--wp--preset--spacing--30) 0;

	> * {
		max-width: calc(
			var(--wp--style--global--content-size) - 30%
		) !important;
	}

	li {
		display: inline-flex;
		flex-direction: row;
		flex-wrap: nowrap;
		gap: var(--wp--preset--spacing--20);
		width: 100%;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

/* stylelint-enable selector-class-pattern, declaration-no-important */
