@use '../../abstracts/responsive-mixins';

/* -- List Styles -- */

main,
.wp-block-post-content {

	/* -- Common List Styles -- */
	ul,
	ol {

		&:not([class]),
		&.wp-block-list {
			padding-left: var(--wp--preset--spacing--20);

			li {
				padding-bottom: var(--wp--preset--spacing--20);

				&:last-child {
					padding-bottom: 0;
				}

				/* Nested lists */
				ul,
				ol {
					padding-left: var(
						--wp--preset--spacing--30
					) !important; /* stylelint-disable-line declaration-no-important */
					padding-bottom: 0;
				}
			}
		}
	}
}
