/* -- List -- */

main,
.wp-block-post-content {
	ul {
		&:not([class]),
		&.wp-block-list {
			list-style-type: none;

			li {
				padding-bottom: var(--wp--preset--spacing--20);
				padding-left: var(--wp--preset--spacing--40);
				position: relative;

				&::before {
					border-bottom: 2px solid var(--wp--preset--color--grey-200);
					content: '';
					display: block;
					height: 0.75rem;
					left: 0;
					position: absolute;
					width: 1.5rem;
				}

				&:last-child {
					padding-bottom: 0;
				}
			}

			ul {
				padding-bottom: 0;
				padding-left: var(--wp--preset--spacing--30);
			}
		}
	}

	/* -- Ordered List -- */

	ol {
		&:not([class]),
		&.wp-block-list {
			padding-left: var(
				--wp--preset--spacing--30
			) !important; /* stylelint-disable-line declaration-no-important */

			li {
				padding-bottom: var(--wp--preset--spacing--20);
				position: relative;

				&::marker {
					font-weight: 700;
				}

				&:last-child {
					padding-bottom: 0;
				}
			}

			ol {
				padding-bottom: 0;
				padding-left: var(--wp--preset--spacing--30);
			}
		}
	}
}
