/* -- preformatted -- */

.wp-block-preformatted {
	font-family: var(--wp--preset--font-family--code);
	letter-spacing: -0.023rem;
	overflow-wrap: normal;
	overflow-x: scroll;
	tab-size: 4;
	white-space: pre !important; /* stylelint-disable-line declaration-no-important */
}
