/* -- pullquote -- */

.wp-block-pullquote {

	&.alignwide {
		max-width: calc(
			var(--wp--style--global--content-size) - 30%
		) !important; /* stylelint-disable-line declaration-no-important */
	}

	blockquote {
		margin: 0;
	}

	&.has-text-align-left,
	&.has-text-align-right {

		blockquote {
			max-width: 20.938rem;
			text-align: center;
		}
	}

	p {
		font-size: var(--wp--preset--font-size--m);
		font-style: inherit;
		margin: 0;
	}

	cite {
		display: inline-block;
		margin-top: 0.75rem;
		text-align: center;

		&::before {
			content: '—';
			padding-right: 0.25rem;
		}
	}
}
