/* -- pullquote -- */

/* stylelint-disable declaration-no-important, declaration-property-unit-allowed-list */
.wp-block-pullquote {
	max-width: calc(var(--wp--style--global--content-size) - 20%) !important;

	&.has-text-align-right {

		cite {
			text-align: right;
		}
	}

	&.has-text-align-center {

		cite {
			text-align: center;
		}
	}

	cite {
		font-size: 80%;
		font-variant: small-caps;

		&::before {
			content: '—';
			padding-right: 0.25rem;
		}
	}
}
/* stylelint-enable declaration-no-important, declaration-property-unit-allowed-list */
