/* stylelint-disable selector-class-pattern, declaration-no-important */

/* -- Query loop -- */

.wp-block-query {
	.wp-block-post-template {
		.wp-block-post {
			&:last-of-type {
				.wp-block-separator {
					display: none;
				}
			}

			@media screen and (max-width: 600px) {
				&.has-post-thumbnail {
					> .wp-block-group {
						flex-direction: column;

						.wp-block-post-featured-image {
							height: 100% !important;
							width: 100% !important;

							a {
								height: 100% !important;
							}
						}
					}
				}
			}
		}
	}
}

/* stylelint-enable selector-class-pattern, declaration-no-important */
