/* stylelint-disable selector-class-pattern, declaration-no-important */

/* -- Query loop == */

.wp-block-query {

	.wp-block-post-template {

		.wp-block-post {
			border-radius: 10px;
			box-shadow:
				0 0.5rem 1rem 0 rgba(48, 49, 51, 0.1),
				0 0 0.0625rem 0 rgba(48, 49, 51, 0.05);

			&:not(.has-post-thumbnail) {
				padding-top: 1.25rem;
			}

			> *:not(.wp-block-post-featured-image):not(hr) {
				padding: 0.5rem 1.875rem;
			}

			hr {
				border-top: 10px;
				margin: 0;
			}

			.wp-block-post-featured-image {
				aspect-ratio: 16/9;
				margin-bottom: var(--wp--preset--spacing--20);
				overflow: hidden;

				img {
					border-top-left-radius: 10px;
					border-top-right-radius: 10px;
					object-fit: cover;
				}
			}

			.wp-block-post-title {
				color: var(--wp--preset--color--black);
				font-family: var(--wp--preset--font-family--body);
				font-size: var(--wp--preset--font-size--large);
				margin-bottom: var(--wp--preset--spacing--20);
				margin-top: var(--wp--preset--spacing--20);
				display: inline-block;
				font-weight: 600;
				padding-bottom: 0;
				text-decoration: none;

				a {
					color: var(--wp--preset--color--black);
					text-decoration: none;

					&:hover,
					&:focus {
						color: var(--wp--preset--color--contrast);
					}
				}
			}

			.wp-block-post-date {
				color: var(--wp--preset--color--accent-1);
				font-family: var(--wp--preset--font-family--body);
				display: block;
				font-size: var(--wp--preset--font-size--small);
				margin-top: 0 !important;
				padding-bottom: 0;

				+ p {
					font-size: var(--wp--preset--font-size--small);
					margin-top: 0 !important;
					padding-bottom: 0;
				}
			}

			.wp-block-post-author-name {

				.wp-block-post-author-name__link {
					color: var(--wp--preset--color--black);
					display: block;
					font-family: var(--wp--preset--font-family--body);
					font-size: var(--wp--preset--font-size--small);
					margin-top: 0.5rem;
					padding-bottom: 0;
					text-decoration: none;

					&:hover,
					&:focus {
						color: var(--wp--preset--color--contrast);
					}
				}
			}

			.wp-block-post-excerpt {
				color: var(--wp--preset--color--contrast);
				font-family: var(--wp--preset--font-family--body);
				font-size: var(--wp--preset--font-size--medium);
				margin-bottom: var(--wp--preset--spacing--20);
				margin-top: var(--wp--preset--spacing--20);

				.wp-block-post-excerpt__excerpt {
					margin-top: 0 !important;
				}

				.wp-block-post-excerpt__more-text {
					margin-bottom: 0.75rem;
					margin-top: 0.75rem;

					.wp-block-post-excerpt__more-link {
						color: var(--wp--preset--color--contrast);
						display: block;
						font-family: var(--wp--preset--font-family--body);
						font-size: var(--wp--preset--font-size--small);
						font-weight: 300;
						padding-top: 1rem;
						text-decoration: underline;
						width: max-content;

						&:hover,
						&:focus {
							color: var(--wp--preset--color--accent-1-300);
						}
					}
				}
			}
		}

		&.wp-block-post-template-is-layout-grid {

			.wp-block-post {
				margin-top: 0 !important;
			}
		}
	}

	.wp-block-query-title {
		color: var(--wp--preset--color--black);
		font-family: var(--wp--preset--font-family--headline);
		font-size: var(--wp--preset--font-size--x-large);
		margin-bottom: var(--wp--preset--spacing--30);
		margin-top: var(--wp--preset--spacing--30);
	}
}

/* stylelint-enable selector-class-pattern, declaration-no-important */
