/* -- blockquote -- */
/* stylelint-disable declaration-no-important, declaration-property-unit-allowed-list */

.wp-block-quote {
	border-left: 3px solid var(--wp--preset--color--accent-1);
	margin: 0;
	padding: 0.5rem 0.5rem 0.5rem 2rem;
	position: relative;
	max-width: calc(var(--wp--style--global--content-size) - 30%) !important;

	&.has-text-align-right {
		border-left: none;
		border-right: 3px solid var(--wp--preset--color--accent-1);

		cite {
			text-align: right;
		}
	}

	&.has-text-align-center {
		margin: 0 auto;
		width: max-content;

		cite {
			text-align: center;
		}
	}

	cite {
		font-size: 80%;
		font-variant: small-caps;
		text-align: right;

		&::before {
			content: '—';
			padding-right: 0.25rem;
		}
	}
}
/* stylelint-enable declaration-no-important, declaration-property-unit-allowed-list */
