/* stylelint-disable selector-class-pattern, declaration-no-important */

/* Search */
.wp-block-search {

	.wp-block-search__inside-wrapper {
		border-radius: 4px;
		border: 2px solid transparent;
		margin-top: 0;
	}

	.wp-block-search__input {
		margin-top: 0;
		padding: 0.625rem 1rem;
	}

	.wp-block-search__button {
		align-items: center;
		border-radius: 6px;
		display: flex;
		height: 2.5rem;
		justify-content: center;
		margin-top: 0;

		&.has-icon {
			width: 2.5rem;

			svg {
				height: 1rem;
				transform: scaleX(-1);
				width: 1rem;
			}
		}
	}

	&.wp-block-search__button-inside {

		.wp-block-search__inside-wrapper {
			border-color: var(--wp--preset--color--grey-300);
			padding: 0.625rem 0.875rem 0.625rem 0;
			position: relative;

			.wp-block-search__input {
				border: none !important;
				padding: 0 1rem;
			}
		}
	}

	&.wp-block-search__button-only {

		.wp-block-search__inside-wrapper {
			align-items: center;
			border-color: var(--wp--preset--color--grey-300);
			position: relative;

			.wp-block-search__input {
				border: none !important;
			}

			.wp-block-search__button {
				max-width: inherit;
			}
		}

		&.wp-block-search__searchfield-hidden {

			.wp-block-search__inside-wrapper {
				border-color: transparent;
			}
		}
	}

	&.wp-block-search__button-outside {

		.wp-block-search__inside-wrapper {

			.wp-block-search__input {
				padding: 0.625rem 1rem;
			}
		}
	}
}

/* stylelint-enable selector-class-pattern */
