/* -- social links -- */

.wp-block-social-links {
	gap: 0.75rem;

	&.is-style-logos-only {

		.wp-social-link {

			.wp-block-social-link-anchor {
				color: var(--wp--preset--color--primary-500);
				fill: var(--wp--preset--color--primary-500);
				padding: 0;
			}
		}
	}

	&.has-visible-labels {

		.wp-social-link {
			background-color: var(--wp--preset--color--primary-500);

			.wp-block-social-link-anchor {
				color: var(--wp--preset--color--white);
				fill: var(--wp--preset--color--white);
				padding: 0.75rem;
			}
		}
	}

	&.is-style-icon {

		.wp-social-link {
			background-color: var(--wp--preset--color--primary-500);

			.wp-block-social-link-anchor {
				color: var(--wp--preset--color--white);
				fill: var(--wp--preset--color--white);
				padding: 0.5rem;
			}
		}
	}
}
