@use '../../abstracts/responsive-mixins';

.wp-block-table {
	border-collapse: separate !important; /* stylelint-disable-line declaration-no-important */

	&:not(.alignfull) {
		max-width: calc(
			var(--wp--style--global--content-size) - 30%
		) !important; /* stylelint-disable-line declaration-no-important */
	}

	td,
	th {
		border-color: var(--wp--preset--color--grey-200);
		padding: 0.75rem;
	}

	thead {
		border-bottom: none;
	}

	tbody {

		tr:nth-child(odd) {
			background-color: var(--wp--preset--color--accent-1-50);
		}
	}

	tfoot {
		font-weight: 700;
	}

	@include responsive-mixins.responsive-max(600px) {

		thead {
			border: none;
			clip: rect(0, 0, 0, 0);
			height: 1px;
			margin: -0.0625rem;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}

		tbody {

			tr {
				display: block;
				margin-bottom: 1rem;

				&:nth-child(odd) {
					background-color: var(--wp--preset--color--white);
				}

				td {
					display: block;

					&::before {
						content: attr(data-label);
						display: inline-block;
						font-weight: 700;
						width: 50%;
					}
				}
			}
		}

		tfoot {
			display: none;
		}
	}
}
