/* -- tag-cloud -- */

.wp-block-tag-cloud {
	display: inline-block;
	text-align: center;
	white-space: pre-wrap;

	a {
		&:nth-of-type(4n + 1) {
			color: var(--wp--preset--color--primary);

			&:hover,
			&:active,
			&:focus {
				color: var(--wp--preset--color--primary);
			}
		}

		&:nth-of-type(4n + 2) {
			color: var(--wp--preset--color--secondary);

			&:hover,
			&:active,
			&:focus {
				color: var(--wp--preset--color--primary);
			}
		}

		&:nth-of-type(4n + 3) {
			color: var(--wp--preset--color--tertiary);

			&:hover,
			&:active,
			&:focus {
				color: var(--wp--preset--color--secondary);
			}
		}

		&:nth-of-type(4n + 4) {
			color: var(--wp--preset--color--primary);

			&:hover,
			&:active,
			&:focus {
				color: var(--wp--preset--color--contrast);
			}
		}
	}
}
