{{#isInteractiveVariant}}
/**
 * WordPress dependencies
 */
import { store } from '@wordpress/interactivity';

store( '{{slug}}', {
	state: {},
	actions: {},
	callbacks: {},
} );
{{/isInteractiveVariant}}
