<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"var:preset|spacing|x-large","bottom":"var:preset|spacing|x-large"}}}} -->
<main
  class="wp-block-group"
  style="
    margin-top: 0;
    padding-top: var(--wp--preset--spacing--x-large);
    padding-bottom: var(--wp--preset--spacing--x-large);
  "
>
  <!-- wp:group {"tagName":"article","layout":{"type":"constrained"}} -->
  <article class="wp-block-group">
    <!-- wp:pattern {"slug":"wdsbt/404"} /-->
  </article>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
