<!-- wp:template-part {"slug":"header","theme":"wds-bt","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Content"},"align":"full","style":{"spacing":{"blockGap":"var:preset|spacing|40"}}} -->
<main class="wp-block-group alignfull">

	<!-- wp:pattern {"slug":"wdsbt/post-hero"} /-->

	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">

		<!-- wp:post-content {"lock":{"move":false,"remove":true},"align":"full","layout":{"type":"constrained"}} /-->

	</div>
	<!-- /wp:group -->

	<!-- wp:pattern {"slug":"wdsbt/comments"} /-->

	<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|40"},"padding":{"bottom":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group"
		style="margin-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--50)">

		<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"},"metadata":{"name":"Pagination"}} -->
		<div class="wp-block-group">
			<!-- wp:post-navigation-link /-->
			<!-- wp:post-navigation-link {"type":"previous"} /-->
		</div>
		<!-- /wp:group -->

		<!-- wp:pattern {"slug":"wdsbt/related-posts"} /-->
	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"wds-bt","tagName":"footer","className":"site-footer"} /-->
